body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
p{
    font-size:small;
    text-align: justify;
}
section{
    display: flex;

}
.pood{
    width: 50%;
}
.pood img{
    width: 100%;
}
section{
      padding-left: 5%;
}
.sk{
    color: rgb(245, 147, 111);
}
#an{
    text-decoration: none;
     background-image:linear-gradient(rgb(230, 159, 28),rgb(247, 128, 128));
     padding: 5px;
     color: white;
     size: 5px;
     border-radius: 7px;
       
}.mel img{
    width: 150%;
    
} 
.ma{
       padding-left: 30%;
       padding-top: 10%;

}
.wo{
    text-align: center;
    padding: 50px;
}
 
.ba{
     padding-left: 30%;
}
.tam{
    margin: 5px;
}
.dh{
    color: darkorange;
}
.af{
    text-decoration: none;
    background-color: rgb(230, 159, 28);
    padding: 5px;
    
}
#ha{
    background-color: coral;
    
}
.sa{
border: 10%;
padding-left: 50%;
 
}